<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4 text-primary" href="index.html">
      <i class="fa-solid fa-spa me-2"></i>Serenity Flow
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="index.html#features">Classes</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html#team">Instructors</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html#pricing">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>
      <a href="index.html#contact-form" class="btn btn-primary ms-3">Book a Class</a>
    </div>
  </div>
</nav>
