<footer id="footer" class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4 mb-3">
        <h5 class="fw-bold fs-4 mb-2">Mark Twinjamin</h5>
        <p class="text-white-50 mb-4">Clean code. Reliable delivery.</p>
        <div class="d-flex gap-3">
          <a href="#" class="text-white-50 fs-5"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="text-white-50 fs-5"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#" class="text-white-50 fs-5"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 offset-lg-2">
        <h6 class="fw-bold text-white mb-3">Navigate</h6>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="index.html" class="text-white-50 text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="portfolio.html" class="text-white-50 text-decoration-none">Portfolio</a></li>
          <li class="mb-2"><a href="index.html#testimonials" class="text-white-50 text-decoration-none">Testimonials</a></li>
          <li class="mb-2"><a href="index.html#faq" class="text-white-50 text-decoration-none">FAQ</a></li>
          <li class="mb-2"><a href="index.html#contact-form" class="text-white-50 text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-2">
        <h6 class="fw-bold text-white mb-3">Services</h6>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="index.html#features" class="text-white-50 text-decoration-none">Full-Stack Dev</a></li>
          <li class="mb-2"><a href="index.html#features" class="text-white-50 text-decoration-none">API Engineering</a></li>
          <li class="mb-2"><a href="index.html#features" class="text-white-50 text-decoration-none">Performance</a></li>
          <li class="mb-2"><a href="index.html#features" class="text-white-50 text-decoration-none">Consulting</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-2">
        <h6 class="fw-bold text-white mb-3">Connect</h6>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">GitHub</a></li>
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">LinkedIn</a></li>
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">X / Twitter</a></li>
          <li class="mb-2"><a href="mailto:mark@twinjamin.dev" class="text-white-50 text-decoration-none">Email Me</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-secondary my-4">
    <div class="text-center text-white-50 small">
      &copy; 2026 Mark Twinjamin. All rights reserved.
    </div>
  </div>
</footer>
